html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #3860a0;
    color: white;
}

section {
    float: right;
    width: 70%;

    display: flex;
    align-items: center;
}

.text {
    width: 100%;
}

p, h2 {
    font-family: sans-serif;    
}

a {
    color: white;
}

ul {
    display: inline;
    list-style: none;
}

li {
    display: inline;
}

aside {
    float: left;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.face {
    padding-top: 10%;
    padding-bottom: 10%;

    max-width: 50%;
}

@viewport {
    width: device-width;
    zoom: 1;
}    

@media all and (min-width: 1080px) and (orientation: landscape) {
    p, h2, span {
        font-size: calc(1080px * 1.6 * 0.01); 
        line-height: calc(1080px * 2.7 * 0.01);
    }
}

@media all and (min-width: 561px) and (max-width: 1080px) {
    p, h2, span {
        font-size: 1.6vw;
        line-height: 2.7vw;
    }
}

@media all and (min-width: 561px) {
    .container {
        height: 100%;
    }
    
    section, aside {
        height: 100%;
    }

    h2 {
        font-size: 200%;
        line-height: 200%;
    }

    .text {
        padding-left: 10%;
    }
}

@media all and (max-width: 560px) {
    section, aside {
        float: none;
        width: auto;
    }

    p, span {
        font-size: 14px;
        line-height: 30px;
    }

    h2 {
        font-size: 26px;
        line-height: 60px;
    }

    .text {
        padding: 0 3% 3% 3%;
    }
}

h2 {
    font-weight: normal;
}

h2 .bold {
    font-size: 100%;
    line-height: 100%;
    font-weight: bold;
}

.icons {
    padding-top: 2%;
    font-size: 250%;
}
